{{ extend 'auth/layout.html' }}

<div class="w-full font-semibold text-lg text-center mb-12">Password reset</div>

{{ if message: }}
<div class="message-wrapper">{{ =message }}</div>
{{ else: }}
{{ =form.custom.begin }}
<div class="grid grid-flow-row grid-cols-4 gap-4 my-8 fields">
    {{ for field in ['email']: }}
    <div class="label py-2">
        {{ =form.custom.label[field] }}
    </div>
    <div class="col-span-3 input">
        {{ =form.custom.widget[field] }}
    </div>
    {{ if field in form.errors: }}
    <div class="col-span-4 error">
        {{ =form.errors[field] }}
    </div>
    {{ pass }}
    {{ pass }}
</div>

<div class="flex w-full justify-center">
    <input
        type="submit"
        class="py-2 px-8 w-48 bg-indigo-400 text-white rounded cursor-pointer focus:outline-none hover:bg-indigo-600 font-semibold"
        value="Retrieve password"
    ></input>
</div>
{{ =form.custom.end }}
{{ pass }}
