db:
  host: db
  database: postgres
  user: postgres
  password: postgres
  pool_size: 10

auth:
  hmac_key: supersecret
  cookies_key: anothersecret
  allow_email_login: true
  restrict_email_domain: "@my.tld"
  registration_verification: false
  registration_approval: true

smtp:
  sender: "noreply@tfstater.local"
  server:
  port: 25
  username: tfstater
  password: ""
  use_tls: false
  use_ssl: false

object_storage:
  bucket: states
  region: eu-west-1
  access_key: ""
  secret_key: ""
  encrypt_data: true

idp:
  github:
    client_id: ""
    client_secret: ""
    organization: my-organization
    claim_roles: []
    claim_teams: []
    math_roles:
      admin: maintainer
    match_teams: {}
